/* Coolors Exported Palette - coolors.co/1a1f16-1e3f20-345830-4a7856-94ecbe */

/* HSL */
$color1: hsla(93%, 17%, 10%, 1);
$color2: hsla(124%, 35%, 18%, 1);
$color3: hsla(114%, 29%, 27%, 1);
$color4: hsla(136%, 24%, 38%, 1);
$color5: hsla(149%, 70%, 75%, 1);

/* RGB */
// Text
$color1: rgba(26, 31, 22, 1); /* #1A1F16 */
// Visited links, navbar
$color2: rgba(30, 63, 32, 1); /* #1E3F20 */
// Hyperlinks
$color3: rgba(52, 88, 48, 1); /* #345830 */
// Hover
$color4: rgba(74, 120, 86, 1); /* #4A7856 */
// background, text in navbar
$color5: rgba(148, 236, 190, 1); /* #94ECBE */
