<% content_for :left_page do %>
  <div class="transaction_info">
    <h1><%= DateTime.strptime(@month, '%Y-%m').strftime("%b '%y") %></h1>
    <h2>£<%= @month_total %></h2>
  </div>
  <%= yield %>
<% end %>
