@media all and (min-width: 960px) {
  .page {
    overflow: auto;
    flex-direction: row;
  }

  .left_page {
    width: 50%;
  }

  .right_page {
    width: 50%;
  }

  .footer {
    order: -1;
  }

  .header {
    order: 1;
  }

  .nav ul {
      bottom: auto;
  }

  .circle {
    bottom: auto;
    top: 25px;
  }
}
